.,
. .navbar-menu-wrapper,
. ul.nav,
. .search-field,
. .navbar-brand-wrapper,
. input
{
    background: white !important;
    color: white !important;
}
. .nav .nav-item.active{
    background-color: #dce0e5 !important;
}

. .nav .nav-item:hover .menu-title,
. .nav .nav-item:hover .menu-icon
{

    color: #004a858a !important;
}
. .nav .nav-item:hover{
    background-color: #dce0e5 !important;
}
. ul .nav-item.menu-icon
. ul .nav-item.menu-title{
    color: white !important;
}
.sidebar ul .nav-item {
    background: linear-gradient(90deg, #ffffff, transparent) #edf0f3;
    font-family: inherit;
    text-decoration: none;
    transition: background-color 1s;
    place-content: center;
  }
  .sidebar ul .nav-item:hover, .sidebar ul .nav-item:focus {
    background-color: #d896ac;
  }